{% extends "base.html" %}

{% block content %}

<!-- Page heading -->
<h2>Add Event</h2>

<!-- Displays error message if form submission fails-->
{% if error %}
    <p style="color: red">{{ error }}</p>
{% endif %}

<!-- Form for admin users to create a new event-->
<form class="myform" method="POST">

    <!-- Input for event name-->
    <div class="form-group">
        <div class="form-label">Event Name:</div>
        <div class="form-element">
            <input type="text" name="event_name" required>
        </div>
    </div>

    <!-- Input for event date-->
    <div class="form-group">
        <div class="form-label">Event Date:</div>
        <div class="form-element">
            <input type="date" name="event_date" required>
        </div>
    </div>

    <!-- Input for event location-->
        <div class="form-group">
        <div class="form-label">Event Location:</div>
        <div class="form-element">
            <input type="text" name="event_location" required>
        </div>
    </div>

    <!-- Input for event description-->
    <div class="form-group">
        <div class="form-label">Event Description:</div>
        <div class="form-element">
            <textarea name="event_description" required></textarea>
        </div>
    </div>

    <!-- Input for maximum ticket capacity-->
    <div class="form-group">
        <div class="form-label">Ticket Capacity:</div>
        <div class="form-element">
            <input type="number" name="event_capacity" min="1" required>
        </div>
    </div>

    <!-- Submit button to add event -->
    <button type="submit">Add Event</button>
</form>

{% endblock %}