{% extends "base.html" %}

{% block content %}

<h2>Book Event</h2>

<form class="myform" method="POST">

    <div class="form-group">
        <div class="form-label">Event Name:</div>
        <div class="form-element">
            <b>{{ chosen_event["event_name"] }}</b>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label">Event Date:</div>
        <div class="form-element">
            <b>{{ chosen_event["event_date"] }}</b>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label">Event Location:</div>
        <div class="form-element">
            <b>{{ chosen_event["event_location"] }}</b>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label">Tickets:</div>
        <div class="form-element">
            <input type="number" name="tickets" min="1" required>
        </div>
    </div>

    <button type="submit">Book</button>

</form>

{% endblock %}