{% extends "base.html" %}

{%  block content %}

<h2>Upcoming Events</h2>

<div class="event-container">

{% for event in event_list %}

    <div class="page-box">


        <div class="form-group">
            <div class="form-label">
                <b>{{ event["event_name"] }}</b>
            </div>
        </div>

        <div class="form-group">
            {{ event["event_date"] }} | {{ event["event_location"] }}
        </div>

        <div class="form-group">
            {{ event ["event_description"] }}
        </div>

        <div class="button-group">
            <a class="book-bin" href="/book_event/{{ event['event_id'] }}">Book Event</a>
        </div>

    </div>


{% endfor %}

</div>

{% endblock %}