{% extends "base.html" %}

{% block content %}

<!-- Page heading -->
<h2>Login</h2>

<!-- Displays error message if login fails -->
{% if error %}
    <p style="color: red">{{ error }} </p>
{% endif %}

    <!-- User login form -->
    <form class="myform" method="POST">

        <!-- Email input field -->
        <div class="form-group">
            <div class="form-label"> Email: </div></div>
            <div class=form-element"<input></div>
                <input type ="email" name="user_email" required>
            <div>
        </div>

        <!-- Password input field -->
        <div class="form-group">
            <div class="form-label"> Password: </div>
            <div class=form-element">
                <input type ="password" name="user_password" required>
            </div>
        </div>

        <!-- Submit login form -->
        <button type="submit">Login</button>

    </form>

 {% endblock  %}